<div class="container mt-5">
  <ul class="nav nav-tabs custom-nav-tabs">
    <li class="nav-item">
      <a class="nav-link" 
         (click)="setActiveTab('configurations')" 
         [class.active]="activeTab === 'configurations'">
        Configurations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
         (click)="setActiveTab('live-data')" 
         [class.active]="activeTab === 'live-data'">
        View Live Data
      </a>
    </li>
  </ul>

  <div class="tab-content custom-tab-content mt-4">
    <div [ngClass]="{'d-block': activeTab === 'configurations', 'd-none': activeTab !== 'configurations'}">
      <app-config (setActiveTab)="setActiveTab($event)"></app-config>
    </div>
    <div [ngClass]="{'d-block': activeTab === 'live-data', 'd-none': activeTab !== 'live-data'}">
      <app-data-tracker (setActiveTab)="setActiveTab($event)"></app-data-tracker>
    </div>
  </div>
</div>
